#notes-section button {
  width: 100%;
  padding: 80px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(135deg, #38ada9, #079992);
  color: white;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: rgba(255,255,255,0.25);
  padding: 8px;
  border-radius: 10px;
  margin-top: 5px;
}
#notesInput {
  width: 30px;
  padding: 10px;
  border: 2px solid #079992;
  border-radius: 10px;
  margin-right: 10px;
}