#notesInput {
  width: 30px;
  padding: 10px;
  border: 2px solid #079992;
  border-radius: 10px;
  margin-right: 10px;
}
#notes-section
{
  width: 380px;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.hidden {
  display: none;
}


input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
}

#notes-section button{
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(135deg, #38ada9, #079992);
  color: white;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: rgba(255,255,255,0.25);
  padding: 8px;
  border-radius: 10px;
  margin-top: 5px;
}

#musicInfo {
  font-size: 14px;
  background: rgba(255,255,255,0.2);
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
}